body
{
    margin:50px 0;
    font-size:small;
}
fieldset
{
    background:#EEE;
    margin:20px 0;
    border:0;
    padding:10px;
}
legend
{
    display:none;
}
dt
{
    float: left;
    clear: left;
    margin:10px 15px 5px 5px;
    width:150px;
}
dd
{
    display: block;
}
select
{
    width:312px;
    padding:4px;
}
table p
{
    margin:0;
    padding:2px;
}
table form
{
    display:inline;
}
#container
{
    position:relative;
}
#navigation
{
    margin:10px 0 30px 0;
}
#navigation a
{
    border:1px solid #000;
    padding:5px 5px;
    font-size:large;
    text-align:center;
    text-decoration:none;
    margin:0 10px 0 0;
}
#addressBookSelector
{
    position:absolute;
    top:55px;
    right:0;
}
#addressBookSelector .text
{
    width:200px;
}
#addressBookSelector select
{
    width:150px;
}
#addressBookSelector *
{
    margin:0;
    font-size:large;
}
#contacts
{
    margin:0 -10px 0 0;
}
#footer
{
    text-align:right;
    font-size:small;
}
#footer a
{
    color:#777;
}
.contact span
{
    display:block;
}
.contact
{
    border:1px solid #000;
    padding:5px 10px 10px 10px;
    height:158px;
    width:160px;
    float:left;
    margin:0 10px 10px 0;
    color:inherit;
    position:relative;
}
.contact form
{
    position:absolute;
    right:0;
    top:0;
}
.contact form input
{
    border:none;
    border-bottom:1px solid #000;
    border-left:1px solid #000;
    background:none;
    width:auto;
    padding:0;
    font-weight:bold;
    cursor:pointer;
}
.contact span
{
    background-repeat:no-repeat;
    background-position:0 1px;
    padding-left:20px;
    overflow:hidden;
}
.contact .name
{
    background-image:url(/img/user.png);
    background-position:0 2px;
    padding:8px 0 5px 38px;
    margin:0 0 2px 0;
    font-size:medium;
    border-bottom:1px solid #CCC;
}
.contact .email
{
    background-image:url(/img/email.png);
}
.contact .mobileTel
{
    background-image:url(/img/phone.png);
}
.contact .homeTel
{
    background-image:url(/img/house.png);
}
.contact .workTel
{
    background-image:url(/img/building.png);
}
.contact .fax
{
    background-image:url(/img/printer.png);
}