body
{
    margin:50px 0;
    font-size:small;
}
fieldset
{
    background:#EEE;
    margin:20px 0;
    border:0;
    padding:10px;
}
legend
{
    display:none;
}
dt
{
    float: left;
    clear: left;
    margin:10px 15px 5px 5px;
    width:150px;
}
dd
{
    display: block;
}
select
{
    width:312px;
    padding:4px;
}
#container
{
    position:relative;
}
#navigation
{
    margin:10px 0;
}
#navigation a
{
    border:1px solid #000;
    padding:10px;
    font-size:large;
    text-align:center;
    text-decoration:none;
    margin:0 10px 0 0;
}
#addressBookSelector
{
    position:absolute;
    top:50px;
    right:0;
}
#addressBookSelector *
{
    margin:0;
    font-size:large;
}
#contacts
{
    margin:20px -10px 0 0;
}
.contact span
{
    display:block;
}
.contact
{
    border:1px solid #000;
    padding:10px;
    height:158px;
    width:160px;
    float:left;
    margin:0 10px 10px 0;
    display:inline-block;
    text-decoration:none;
    color:inherit;
}
.contact:last
{
    margin-left:0;
}
.contact .name
{
    font-size:large;
}